doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://kit.fontawesome.com/d59cb5743b.js", crossorigin="anonymous")
    link(rel="stylesheet", href="dashboard.css")
    title Dashboard
  body
    .navbar
      .logo
        img(src="logo.png", alt="Dry Cleaning")
        //- span.logo-text Dry Cleaning
      ul.menu-items
        li.active
          a(href="dashboard")
            i.fas.fa-tachometer-alt
            span Dashboard
        li
          a(href="/profile")
            i.fas.fa-user
            span Profile
        li.logout
          a(href="/")
            i.fas.fa-sign-out-alt
            span Logout
    .main--content
      .header--wrapper
        .header--title
          h2 Dashboard
      .card--container
        h3.main--title Price Summary
        .card--wrapper
          // Week Card
          .payment--card.light-red
            .card--header
              .amount
                span.title Week
                span.amount--value #{weekly} £
              i.fas.fa-pound-sign.icon

          // Month Card
          .payment--card.light-purple
            .card--header
              .amount
                span.title Month
                span.amount--value #{monthly} £
              i.fas.fa-pound-sign.icon.dark-purple

          // Year Card
          .payment--card.light-blue
            .card--header
              .amount
                span.title Year
                span.amount--value #{yearly} £
              i.fas.fa-pound-sign.icon.dark-blue

          // Total Hours Card
          .payment--card.light-green
            .card--header
              .amount
                span.title Total Hours
                span.amount--value #{total} £
              i.fas.fa-pound-sign.icon.dark-green
      .tabular--wrapper
        h3.main--title All records
      .table-container
        table
          thead
            tr
              th ID
              th Items
              th Selected Date
              th Selected Time
              th Price
          tbody
            if results && results.length
              each row in results
                tr
                  td= row.id
                  td= row.items 
                  td= row.selected_date
                  td= row.selected_time
                  td= row.price

          //- tfoot
          //-   tr
          //-     td(colspan="7") Total: #{results.length} records
